@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.background-image {
  width: 100%;
  min-height: 80vh; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/webdev.jpg'); 
  background-size: cover; 
  background-position: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.background-content {
  text-align: center; 
  color: white; 
}

.background-content h1 {
  font-size: 3rem; 
  font-weight: 400; 
}

.background-content p {
  font-size: 1.2rem; 
  font-weight: 300; 
}

.section{
  padding: 60px 80px;
}

.boxed{
  max-width: 1280px;
  margin-inline: auto;
}

.flex{
  display: flex;
}

.w40{
  width: 40%;
}
.w60{
  width: 60%;
}

h2{
  font-size: 2rem;
  margin-bottom: 80px;
}

p{
  font-size: 1rem;
  line-height: 1.5em;
}

.dark{
  background: black;
  color: #fff;
}

.text-center{
  text-align: center;
}

.w25{
  width: 25%;
}

.gap20{
  gap: 20px;
}
.skill{
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}


.skill img{
  width: 100px;
  height: 100px;
}

.skill h3{
  margin-top: 10px;
  color: black;
}